* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    box-sizing: border-box;
}
body {
    
    text-align: center;
}
.container {
    border: 1px solid black;
    padding: 25px;
    width: 30%;
    text-align: center;
}

.main-head {
    display: block;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 5px;
}

.sub-head {
    display: block;
    text-align: center;
}

.title input {
    text-align: center;
    height: 35px;
    width: 95%;
    margin-bottom: 20px;
    background-color: rgba(240, 238, 238, 0.808);
    border-color:rgba(240, 238, 238, 0.808) ;
    border-radius: 5px;
    border: none;
}

.button {
    text-align: center;
    height: 35px;
    width: 95%;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;

}
.or {
    color: rgba(219, 212, 212, 0.808);
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* padding-bottom: 10px; */

}

.google {
    border: .4px solid black;
    text-align: center;
    height: 35px;
    width: 95%;
    margin-bottom: 12px;
    border-radius: 5px;
    /* border: none; */
    background-color: white;
    color: rgb(5, 5, 5);
}

.microsoft {
    border: .4px solid black;
    text-align: center;
    height: 35px;
    width: 95%;
    margin-bottom: 12px;
    border-radius: 5px;
    /* border: none; */
    background-color: white;
    color: rgb(5, 5, 5);
}

.apple {
    border: .4px solid black;
    text-align: center;
    height: 35px;
    width: 95%;
    margin-bottom: 12px;
    border-radius: 5px;
    /* border: none; */
    background-color: white;
    color: rgb(5, 5, 5);
}

.slack {
    border: .4px solid black;
    text-align: center;
    height: 35px;
    width: 95%;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    /* border: none; */
    background-color: white;
    color: rgb(5, 5, 5);
    box-shadow: 20px,black;

}

.hr {
    border-style: none;
    background-color: black;

}

